In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('./data/order.xlsx')
df

         Date   M3
0  2012-01-01   27
1  2012-02-01   37
2  2012-03-01    8
3  2012-04-01    9
4  2012-05-01   11
..        ...  ...
77 2018-06-01  310
78 2018-07-01  288
79 2018-08-01  190
80 2018-09-01  241
81 2018-10-01  229

[82 rows x 2 columns]

# 기본 데이터 확인

In [3]:
# 샘플도 적고 특징도 매우 적다
df.shape

(82, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    82 non-null     datetime64[ns]
 1   M3      82 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.4 KB

In [5]:
df.isnull().sum()

Date    0
M3      0
dtype: int64

In [6]:
df.describe()

               M3
count   82.000000
mean    82.134146
std     79.807138
min      2.000000
25%     26.250000
50%     53.500000
75%    131.000000
max    393.000000